<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
        
        <!--For Reconnecting websocket-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>


        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'styles/mainStyle.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <script src="{% static 'common_script.js' %}"></script>
        {% block scripts %} {% endblock %}
    </head>
    

    <body>
        {% csrf_token %} <!--For AJAX requests-->
        <div class="logo">
            <div class="left">
                    <a href="{% url 'home' %}" class="nostyle">aretheycoming</a>
            </div>
            <div class="right"></div>
        </div>

        <!--Diplay user information if the user is logged in-->
        {% if request.user.is_authenticated %}
            <div class="dropdown">
                <button class="dropbtn circular">
                    
                    {{user.first_name|make_list|first}}{{user.last_name|make_list|first}}
                </button>
                <div class="dropdown-content" >
                    <span class="dropdown-item">Logged in</span>
                    <span class="dropdown-item"><b>{{request.user.username}}</b></span>
                    
                    <a href="{% url 'logout_view' %}">Log out</a>
                </div>
            </div>
        {% endif %}

        {% block body %} 
        {% endblock %}
        
        <!-- The section to be displayed on the bottom of the page -->
        <div style="margin:10%; text-align:center;" id="footer">
            <hr>
            I don't know what to write here but I must write something because it will make the website look a little cooler. So stop reading now. Just stop!
            I need at least 2 lines. Wait did I just write 2 instead of two? I should have wrote two so that it had taken more space.
            <!--Insert the logo image-->        
            <div class="home-logo-image" >
                    <img src="{% static 'logo.png' %}">
                </div>
            © Mohd Haris                
            <span style="font-size: 8px;"><br>Just wrote all this to make the website look cooler</span>
        </div>
        
        
    

        
    </body>
</html>