<!DOCTYPE html>
<html>
    <head>
        <title>aretheycoming</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'styles/mainStyle.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="home-logo" >aretheycoming</div>
                
                <div class="centered">
                    <h1>A platform to organise events</h1>
                    <h3>Especially designed for school/college students to manage bunks and decide whether to go or not</h3>
                    <a href="{% url 'login_view' %}"><button class="wide-btn btn">Login/Signup</button></a>
                </div>

            </div>
        </div>

        <!-- The section to be displayed on the bottom of the page -->
        <div style="margin:10%; text-align:center;">
            <hr>
            I don't know what to write here but I must write something because it will make the website look a little cooler. So stop reading now. Just stop!
            I need at least 2 lines. Wait did I just write 2 instead of two? I should have wrote two so that it had taken more space.
            <br><br>
            © Mohd Haris                
            <span style="font-size: 8px;"><br>Just wrote all this to make the website look cooler</span>
        </div>

    </body>
</html>