<!DOCTYPE html>
<html>
    <head>
        <title>aretheycoming</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'styles/mainStyle.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="home-logo" >aretheycoming</div>

                
                <div class="centered">
                    <h1>A platform to organize events</h1>
                    <h3>Especially designed for school/college students to manage bunks and overall lecture attendance</h3>
                    <a href="{% url 'login_view' %}">
                        <button class="btn" style="margin-bottom: 20px">Login/Signup</button>
                    </a>
                    <a href="{% url 'groups' %}">
                        <button class="btn" style="margin-bottom: 20px">Groups</button>
                    </a>
                </div>

            </div>
        </div>

        
        <div style=" position: relative;  ">
            <div class="intro-to-website">
                <h3>How to use this platform?</h3>
                <ol type="1">
                    <li>Sign up. </li>
                    <li>Search for groups you want to join.</li>
                    <li>Send a join request to the group.</li>
                    <li>Admins of the group will see it and they will decide whether you will become part of the group or not.</li>
                    <li>Once you are accepted, you can vote in that group's events or create your own events in the group which will be visible to all the members of that group.</li>
                    <li>An admin of the group is authorized to promote other members to admin or remove them from the gorup.</li>
                    <li>Alternatively, you can also create your own groups.</li>
                </ol>
            </div>
            <div style="text-align: center">
                <img src="{% static 'logo.png' %}" width="80%" style="max-width:700px">
            </div>
            
        </div>
        

        <!-- The section to be displayed on the bottom of the page -->
        <div style="margin:10%; text-align:center;">
            <hr>
            I don't know what to write here but I must write something because it will make the website look a little cooler. So stop reading now. Just stop!
            I need at least 2 lines. Wait did I just write 2 instead of two? I should have wrote two so that it had taken more space.
            <!--Insert the logo image-->        
            <div class="home-logo-image" >
                <img src="{% static 'logo.png' %}">
            </div>
            © Mohd Haris                
            <span style="font-size: 8px;"><br>Just wrote all this to make the website look cooler</span>

        </div>
        

    </body>
</html>