<div class="event_maker" id="event_maker">
    <button class="close-btn" id="close_event_maker">
        {% load staticfiles %}
        <img src="{% static 'wrong.png' %}" height="60px">
    </button>

    <h1>Create a new event</h1>
    <hr>
    <form class="form-group">
        Name* <br>
        <input type="text" id="name" class="form-control">
        <br>
        Event date and time* <br>
        <input type="date" id="date" class="form-control">
        <input type="time" id="time" class="form-control">
        <br>
        Event end date and time <br>
        <input type="date" id="date" class="form-control">
        <input type="time" id="time" class="form-control">
        <br>
        Event description<br>
        <textarea id="description" class="form-control"></textarea>
        <br>
        <button class="wide-btn btn" style="
            box-shadow: none; 
            background-color:white; 
            color:black">
            Make event
        </button>

    </form>
</div>