{% extends "parent_layout.html" %}

{% block title %}
    Groups
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'groups/groups.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
{% endblock %}


{% block body %}

    {% include 'groups/navigation.html' %}

    <!--Include the group card template-->
    {% include 'groups/group_card.html' %}
    
    <br><br>
    <!--Display the groups-->
    <div class="container">

            <div class="row">
                <!--Heading-->
                <div class="large-text col-sm-12 col-lg-12 align-right">
                    Groups
                </div>
                <br>
                <!--Filter Groups bar-->
                <input id="filter_keyword" type="text" class="form-control search_bar" placeholder="Filter groups">
                
            </div>
           
        <div class="row flex-row" id="groupList">
            <!--Groups will be inserted AJAXically here-->
        </div>
    </div>
    
    

{% endblock %}