{% extends 'parent_layout.html' %}

{% block title %}
    {{group.name}}
{% endblock %}

{%block scripts %}
    {% load staticfiles %}

    <!--Scripts for react-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="{% static 'groups/event_card.js' %}" type="text/babel"></script>
    <script src="{%static 'groups/event_container.js' %}" type="text/babel"></script>

    <script src="{% static 'groups/group_details.js' %}" type="text/babel"></script>

{% endblock %}


{% block body %}

    <!--To hold some important data items that will be required by javascript-->
    <span id="data-items" data-group_id="{{group.id}}" data-member_flag="{{member_flag}}"></span>
    
    <!--Include the navigation bar-->
    {% include 'groups/navigation.html' %}

    <br><br>
    <!--Display the Group details-->
    <div class="container"> 
        <div class="row">   
            <div class="col-lg-8 col-xs-12">
                <span class="medium-text" style="font-size: 40px; margin-top:30px">{{group.name}}</span>

                <!--Display the 'delete group' and 'leave group' buttons-->
                <div style="position:relative; float:right; text-align:right;">
                    {% if admin_flag %} <!--Show delete group button if the user is admin-->
                        <button id="delete_group_btn" class="btn red-btn">Delete</button>
                    {% endif %}
                    {% if member_flag %} <!--Show the leave group button if the user is a member-->
                        <button id="leave_group_btn" class="btn red-btn">Leave</button>
                    {% endif %}
                    <br>
                    <span id="delete_or_leave_message"></span>

                </div>

                <table class="table table-hover ">
                    <tr>
                        <td><b>#</b></td>
                        <td>{{group.id}}</td>
                    </tr>
                    <tr>
                        <td><b>Members</b></td>
                        <td>{{group.members.all.count}}</td>
                    </tr>
                    <tr>
                        <td><b>Date created</b></td>
                        <td>{{group.date_created}}</td>
                    </tr>


                    {% if group.college %}
                        <tr>
                            <td><b>College</b></td>
                            <td>{{group.college}}</td>
                        </tr>
                    {% endif %}

                    {% if group.graduation_year %}
                    <tr>
                        <td><b>Graduation year</b></td>
                        <td>{{group.graduation_year}}</td>
                    </tr>
                    {% endif %}

                    {% if group.section %}
                    <tr>
                        <td><b>Section</b></td>
                        <td>{{group.section}}</td>
                    </tr>
                    {% endif %}

                    {% if group.batch %}
                    <tr>
                        <td><b>Batch</b></td>
                        <td>{{group.batch}}</td>
                    </tr>
                    {% endif %}               
                    
                </table>

                {% if group.description != "No description" %}                        
                    <b>Description</b><br>
                    <pre class="pre">{{group.description}}</pre>                    
                {% endif %}

            </div>  
        </div>  

        <!--If the user is logged in but is not a member of this group, show join button-->
        {% if not member_flag and request.user.is_authenticated %}
        <button id="join_group_btn" class="btn">Join</button>
        <br>
        <div id="join_group_message"></div>
        <hr>
        {% endif %}

        <!--If the user is the member of the group, add the add event button-->
        {% if member_flag %}
            <button class="btn wide-btn circular-corners" id="add_event">Add event <b>+</b></button>
            <br>
            <div id="add_event_message"></div>
            <br>
        {% endif %}

        <span class="medium-text">Active Events</span>

     </div>   
    
   <!--To show the active events using event_container-->
   <div id="active_events_container">
        
    </div>
            
            
        
        
      
    
    

    <br><br>
    <!--Display Members and group requests-->
    <div class="container">
        <div class="row">

            <!--Members-->
            <div class="col-sm-12 col-lg-6">
                <div class="vertically-scrollable bg-light better_scroll_bar">

                    <div class="head"><h2>Members</h2></div>               
                    
                    <div class="body">
                        
                            {% for membership in memberships %}
                                
                                    {% include 'users/dp.html' with membership=membership user=membership.user %}        
                                 
                            {% empty %}
                                This group has no members. <br>
                                This group is so bad that even the admin left :v
                            {% endfor %}
                        
                            
                    </div>
                </div>
            </div>

            <!--Requests-->
            <div class="col-sm-12 col-lg-6">
                <div class="vertically-scrollable bg-dark better_scroll_bar">

                    <div class="head"><h2>Requests</h2></div>

                    <div class="body">                    
                        {% for join_request in requests %}
                            
                                {% include 'users/dp.html' with user=join_request.user request_id=join_request.id group_id=group.id%}
                            
                        {% empty %}
                            No pending join requests. <br>
                            Nobody wants to join this group :(
                        {% endfor %}
                            
                    </div>
                </div>
            </div>

        </div>

        <!--Pass events-->
        <div class="medium-text">Past events</div>
        <button id="load_past_events" class="btn">Load past events</button>
    </div>

    <!--Inactive/past events container-->
    <div id="inactive_events_container">
    </div>

    <!--Include the event maker-->
    {% include 'groups/event_maker.html' with id=group.id%}
    <!--Include the popup message-->
    {% include 'popup_message.html' %}


{% endblock %}