<div class="group-card">
    <!--Group name and other essential details-->
    <span class="name">{{group.name}}</span>
    <br>
    <table class="table">
        <tr>
            <td><b>#: </b></td> <td>{{group.id}} </td>
        </tr>
        <tr>
            <td><b>Members: </b></td> <td>{{ group.members.all.count }} </td>
        </tr>
        {% if group.description != "No description" %}
            <tr>
                <td><b>Description: </b></td> <td>{{group.description}} </td>
            </tr>
        {% endif %}
    </table>

    <!--
        Division for college details
        Print only if specific college details are present
    -->
    <div class="college-details">
        <table class="table">
            <tr>
                {% if group.college is not None %}
                    <td><b>College: </b></td> <td>{{group.college}} </td>
                {% endif %}
            </tr>
            <tr>
                {% if group.graduation_year is not None %}
                    <td><b>Graduation year: </b></td> <td>{{group.graduation_year}} </td>
                {% endif %}
            </tr>
            <tr>
                {% if group.section is not None %}
                    <td><b>Section: </b></td> <td>{{group.section}} </td>
                {% endif %}
            </tr>
            <tr>
                {% if group.batch is not None %}
                    <td><b>Batch: </b></td> <td>{{group.batch}} </td>
                {% endif %}
          </tr>
        </table>
    </div>


    <!--Buttons-->
    <div class="align-right">
        <a href="{% url 'join_request' group.id %}"><button class="wide-btn btn">Send a join request</button></a>
    </div>

</div>