{% extends "parent_layout.html" %}

{% block title %}
    Groups
{% endblock %}

{% block body %}

    {% include 'groups/navigation.html' %}


    <!--Display the groups-->
    <div class="container">
            <!--Heading-->
            <div class="large-text col-sm-12 col-lg-12">All groups</div>
           
        <div class="row flex-row">
            
            {% for group in groups %}
                <div class= "col-sm-12 col-lg-6">
                    {% include 'groups/group_card.html' with group=group %}
                </div>
            {% endfor %}
        </div>
    </div>
    
    

{% endblock %}