{% extends "parent_layout.html" %}

{% block title %}
    Groups
{% endblock %}

{% block body %}

    {% include 'groups/navigation.html' %}

    <br><br>
    <!--Display the groups-->
    <div class="container">

            <div class="row">
                <!--Heading-->
                <div class="large-text col-sm-12 col-lg-12 align-right">
                    Groups
                </div>
                <br>
                <!--Filter Groups bar-->
                <input id="filter_keyword" type="text" class="form-control search_bar" placeholder="Filter groups">
                
            </div>
           
        <div class="row flex-row">
            
            {% for group in groups %}
                <div class= "col-sm-12 col-lg-6">
                    <a href="{% url 'group_details' group.id %}" class="nostyle">
                        {% include 'groups/group_card.html' with group=group %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    

{% endblock %}