<script id="groupCardTemplate" type="text/x-handlebars-template">
    <div class = "col-sm-12 col-lg-6"> <a href="{% verbatim %}{{group.id}}{% endverbatim %}" class="nostyle">
        <div class="card group-card" id="{% verbatim %}{{group.id}}{% endverbatim %}">
            <!--Group name and other essential details-->
            <span class="name" >
                {% verbatim %}{{group.name}}{% endverbatim %}
            </span>
            <br>
            <table class="table">
                <tr>
                    <td><b>#: </b></td> <td>{% verbatim %}{{group.id}}{% endverbatim %} </td>
                </tr>
                <tr>
                    <td><b>Members: </b></td> <td>{% verbatim %}{{ group.membersCount }}{% endverbatim %} </td>
                </tr>
                {% verbatim %} {{#if group.description  }} {% endverbatim %}
                    <tr>
                        <td><b>Description: </b></td> <td>{% verbatim %}{{group.description}}{% endverbatim %} </td>
                    </tr>
                {% verbatim %} {{/if}} {% endverbatim %}
            </table>

            <!--
                Division for college details
                Print only if specific college details are present
            -->
            <div class="college-details">
                <table class="table">
                    <tr>
                        {% verbatim %}{{#if group.college }} {% endverbatim %}
                            <td><b>College: </b></td> <td>{% verbatim %}{{group.college}}{% endverbatim %} </td>
                        {% verbatim %} {{/if}} {% endverbatim %}
                    </tr>
                    <tr>
                        {% verbatim %}{{#if group.graduationYear }} {% endverbatim %}
                            <td><b>Graduation year: </b></td> <td>{% verbatim %}{{group.graduationYear}}{% endverbatim %} </td>
                        {% verbatim %} {{/if}} {% endverbatim %}
                    </tr>
                    <tr>
                        {% verbatim %}{{#if group.section }} {% endverbatim %}
                            <td><b>Section: </b></td> <td>{% verbatim %}{{group.section}}{% endverbatim %} </td>
                        {% verbatim %} {{/if}} {% endverbatim %}
                    </tr>
                    <tr>
                        {% verbatim %}{{#if group.batch }} {% endverbatim %}
                            <td><b>Batch: </b></td> <td>{% verbatim %}{{group.batch}}{% endverbatim %} </td>
                        {% verbatim %} {{/if}} {% endverbatim %}
                </tr>
                </table>
            </div></a>


            <!--Buttons-->
            <div class="align-right">
                <button class="wide-btn btn" onclick="sendRequest({% verbatim %} {{group.id}} {% endverbatim %})"
                        id="btn{% verbatim %}{{group.id}}{% endverbatim %}">
                    Send a join request
                </button>
            </div>

        </div>

    </div>
</script>
