{% extends "parent_layout.html" %}

{% block title %}
    My groups
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src='{% static "groups/my_groups.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
{% endblock %}

{% block body %}

    {% include 'groups/navigation.html' %}

    <!--Include the group card template-->
    {% include 'groups/group_card.html' %}

    <div class="container">
        
        <div class="row large-text">My groups</div>

        <!--Groups for which the user is either an admin or the creator-->
        <div class="row fancy-heading" style="background-color: darkgreen;">Admin of</div>

        <div class="row">
            {% for group in admin_groups %}
            <a href="{% url 'group_details' id=group.id %}">
                <div class="card small-group-card col-lg-3 col-md-4 col-xs-10">
                
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td>{{group.name}}</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>{{group.id}}</td>
                        </tr>
                        <tr>
                            <td>Members</td>
                            <td>{{group.members_count}}</td>
                        </tr>
                    </table>
                </div>
            </a>         
            {% endfor %}
        </div>
        <br>
        <!--Groups which the user is part of-->
        <div class="row fancy-heading" style="background-color: darkorange;">Member of</div>
        <div class="row">
            {% for group in member_groups %}
            <a href="{% url 'group_details' id=group.id %}">
                <div class="card small-group-card col-lg-3 col-md-4 col-xs-10">
                
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td>{{group.name}}</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>{{group.id}}</td>
                        </tr>
                        <tr>
                            <td>Members</td>
                            <td>{{group.members_count}}</td>
                        </tr>
                    </table>
                </div>
            </a>         
            {% endfor %}
        </div>
        
    </div>

{% endblock %}