<div class="logo navigation">

    <a href="{% url 'feed' %}">
        <button class="btn no-shadow">Feed</button>
    </a>

    <a href="{% url 'groups' %}">
        <button class="btn no-shadow">Groups</button>
    </a>

    <!--These links must only be visible if the user is already logged in-->
    {% if request.user.is_authenticated %}
        <a href="{% url 'create_group' %}">
            <button class="btn no-shadow wide-btn" >Create group</button>
        </a>

    <!--This links must only be visible if the user is not logged in-->
    {% else %}
        <a href="{% url 'login_view' %}">
            <button class="btn no-shadow">Login</button>
        </a>

    {% endif %}

</div>