/*New colors*/
/*A good color: #5c0627
*/
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(187, 187, 187, 0.404);
  color: black;
}

.btn {
  font-size: 20px;
  background-color: #421111;
  color: white;
  display: inline-block;
  box-shadow: 0px 5px 10px grey;
}

.wide-btn {
  width: 160px;
}

.btn:focus {
  background-color: #421111;
  color: white;
  outline: none;
}

.btn:hover {
  background-color: #0a0039;
  color: white;
}

.centered {
  margin-top: 100px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.dark-color {
  color: #0a0039;
}

.large-text {
  font-size: 100px;
  color: #421111;
}

.medium-text {
  font-size: 30px;
  color: #421111;
}

.small-text {
  font-size: 20px;
  color: #421111;
}

.align-right {
  text-align: right;
}

.no-shadow {
  box-shadow: none;
}

.circular-corners {
  border-radius: 100px 100px 100px 100px;
}

.loader {
  border: 16px solid #black;
  /* Light grey */
  border-top: 16px solid lightpink;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 20px;
  animation: spin 0.3s linear infinite;
}

.fancy-heading {
  padding: 5px 20px 5px 20px;
  color: white;
  font-size: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-logo {
  height: 500px;
  background: linear-gradient(90deg, #421111 0%, #0a0039 89%, #040017 100%);
  color: white;
  font-size: 10vw;
  text-align: center;
  line-height: 500px;
  box-shadow: 0px 5px 10px black;
}

.home-logo-image {
  position: relative;
}
.home-logo-image img {
  height: 100px;
  width: 100px;
}

.intro-to-website {
  position: absolute;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 5%;
  margin: 0% 10% 0% 10%;
}

.logo {
  color: white;
  font-size: 30px;
  padding-bottom: 5px;
  background: linear-gradient(90deg, #421111 0%, #0a0039 89%, #040017 100%);
  box-shadow: 0px 5px 10px black;
}
.logo .left {
  padding-top: 5px;
  margin-left: 20px;
  text-align: left;
}
.logo .right {
  position: absolute;
  right: 60px;
  top: 5px;
  text-align: right;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgba(143, 143, 143, 0.274);
  height: 40px;
  color: white;
  font-size: 16px;
  border: none;
  text-align: center;
  line-height: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
}
.dropdown .center {
  position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #0a0039;
  min-width: 160px;
  box-shadow: -10px 10px 20px black;
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(129, 129, 129, 0.582);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.555);
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.login-form {
  magin-right: 15%;
  text-align: right;
  font-size: 20px;
}
.login-form .small {
  font-size: 19px;
}

.red-text {
  color: #ee2020;
  background-color: rgba(238, 32, 32, 0.158);
}

.green-text {
  color: #35a55b;
  background-color: rgba(53, 165, 91, 0.158);
}

.white-text {
  background: rgba(255, 255, 255, 0);
}

.red-text, .green-text, .white-text {
  border-radius: 100px 100px 100px 100px;
  text-align: center;
  font-size: 16px;
  width: 250px;
  height: 20px;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
}

.normal-page {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  padding: 20px;
  margin: 20px;
  box-shadow: -5px 5px 30px black;
  font-size: 20px;
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.card .name {
  font-size: 40px;
}

.group-card {
  background: linear-gradient(90deg, black 0%, #0a0039 89%, #060022 100%);
  color: white;
  border: solid white 2px;
}
.group-card .college-details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.041);
}
.group-card .btn {
  background: rgba(255, 255, 255, 0);
  text-align: right;
  font-size: 15px;
  margin: 5px;
  box-shadow: none;
}
.group-card .table td {
  width: 200px;
}
.group-card .table > tbody > tr > td, .group-card .table > tbody > tr > th {
  border-top: none;
}
.group-card .btn:hover {
  background: rgba(255, 255, 255, 0.103);
}
.group-card .btn:focus {
  background-color: #1b6330;
  outline: solid #3ef007 1px;
}

.small-group-card {
  background: linear-gradient(90deg, black 0%, #0a0039 89%, #060022 100%);
  color: white;
  font-size: 20px;
  border: solid white 5px;
}
.small-group-card .w10 {
  width: 10%;
}
.small-group-card .w30 {
  width: 30%;
}

.pre {
  background: rgba(223, 223, 223, 0.2);
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 0px;
  white-space: pre-wrap;
}

.vertically-scrollable {
  color: #e9e9e9;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 400px;
  padding: 20px;
  background: rgba(223, 223, 223, 0.2);
  box-shadow: 0px 5px 10px grey;
}
.vertically-scrollable .body {
  overflow-y: scroll;
  height: 300px;
}
.vertically-scrollable .body .element {
  height: 50px;
  line-height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.062);
  animation: fadeout 0.5s forwards paused;
}
@media (max-width: 357px) {
  .vertically-scrollable .body .element {
    height: 90px;
    border-radius: none;
  }
}
.vertically-scrollable .body .element .dp_content {
  width: 60%;
  float: left;
}
.vertically-scrollable .body .element .dp_icons {
  position: relative;
  text-align: right;
  height: 40px;
  width: 40%;
  float: right;
  animation-name: delete_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.better_scroll_bar {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.better_scroll_bar ::-webkit-scrollbar {
  width: 8px;
}
.better_scroll_bar ::-webkit-scrollbar-track {
  background: #00000000;
}
.better_scroll_bar ::-webkit-scrollbar-thumb {
  background: rgba(255, 252, 252, 0.2);
}
.better_scroll_bar ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.555);
}

.bg-light {
  background-color: #421111;
}

.bg-dark {
  background-color: #0a0039;
}

.circular {
  background-color: rgba(201, 201, 201, 0.363);
  color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.692);
  font-size: 16px;
  font-weight: bold;
}

.circular:focus {
  outline: none;
}

.search_bar {
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 100px 100px 100px 100px;
  border: none;
}

.search_bar:focus {
  outline: none;
  border: solid #0a0039 2px;
}

@media only screen and (min-width: 1200px) {
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-row > [class*=col-] {
    display: flex;
    flex-direction: column;
  }

  .flex-row.row:after,
.flex-row.row:before {
    display: flex;
  }
}
.right_btn, .wrong_btn, .adminify_btn {
  background: none;
  height: inherit;
  width: 40px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
}

.right_btn, .wrong_btn:on-hover {
  background: rgba(223, 223, 223, 0.2);
}

.event_maker {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 80%;
  background-color: #0a0039;
  color: white;
  padding: 1% 8% 1% 4%;
  font-size: 20px;
  box-shadow: -20px 20px 30px black;
  border: 10px solid #0a0039;
  overflow-y: scroll;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.event_maker .form-control {
  font-size: 20px;
  background-color: rgba(223, 223, 223, 0.2);
  color: white;
  border: none;
}
.event_maker .close-btn {
  position: absolute;
  z-index: 3;
  right: 0px;
  top: 0px;
  background-color: transparent;
  padding: 0px;
  color: white;
  font-size: 50px;
  border: none;
}

.red-btn {
  background-color: #c73232;
  color: white;
  font-size: 15px;
}

#popup_message_frame {
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.308);
}

#popup_message {
  position: fixed;
  z-index: 5;
  right: 30%;
  left: 30%;
  top: 40%;
  background-color: white;
  padding: 2%;
  border: solid black 2px;
  box-shadow: black -5px 5px 50px;
}

@media (max-width: 1000px) {
  #popup_message {
    left: 5%;
    right: 5%;
    padding: 5%;
  }
}
.faded-text {
  color: rgba(255, 255, 255, 0.603);
  font-size: 15px;
}

.event-card {
  background-color: white;
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  border: solid #0a0039 2px;
  border-radius: 10px;
  box-shadow: -5px 5px 30px black;
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.event-card .vote-table td, .event-card .vote-table th {
  width: 40%;
}
.event-card .vote-btn {
  color: black;
  text-align: center;
  box-shadow: none;
  margin: 5px;
  width: 25%;
  min-width: 70px;
  height: 70px;
  font-size: 30px;
  background-color: rgba(223, 223, 223, 0.2);
}
.event-card .vote-btn:hover {
  background-color: rgba(0, 0, 0, 0.171);
}
.event-card .vote-btn-activated {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  width: 30%;
  min-width: 75px;
  height: 80px;
  border: solid white 3px;
}
@media (max-width: 600px) {
  .event-card .vote-btn {
    height: 40px;
    font-size: 15px;
  }
  .event-card .vote-btn-activated {
    height: 50px;
    font-size: 17px;
  }
}

.navigation {
  text-align: center;
  font-size: 15px;
  line-height: 50px;
}
.navigation .btn {
  color: white;
  background: rgba(255, 255, 255, 0.03);
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
}
.navigation .btn:hover {
  background: rgba(255, 255, 255, 0.103);
}
.navigation .btn:focus {
  color: white;
  outline: solid white 1px;
}

@media (max-width: 1200px) {
  .h1 {
    font-size: 80px;
    padding-top: 50px;
  }

  .login {
    margin-bottom: 50px;
    margin-right: 15%;
  }
}
@media (max-width: 800px) {
  .home-logo {
    height: 200px;
    line-height: 200px;
  }

  .large-text {
    font-size: 50px;
  }
}
@media (max-width: 650px) {
  .login {
    margin-right: 5%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes come_down {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}
@keyframes go_up {
  100% {
    top: -50%;
  }
}
@keyframes delete_animation {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin: -80px;
    padding: 0px;
  }
}
@keyframes shrink {
  0% {
    margin: 0%;
  }
  100% {
    height: 0%;
    line-height: 0%;
    margin: 0%;
    padding: 0%;
  }
}

/*# sourceMappingURL=mainStyle.css.map */
